!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css
		link( rel="stylesheet", type="text/css", media="screen", href="assets/css/style.css")

		//Other Javascript
		script( src="http://code.jquery.com/jquery-1.9.1.min.js", type"text/javascript")
		script( src="assets/scripts/script.js", type"text/javascript")


		//RSS TODO

	body.home
		header
			.carousel

			nav
				a(href="./filter/photography") photography
				a(href="./filter/sketchslaps") sketchslaps
				a(href="./filter/motion") motion
				a(href="./filter/characterdesign") characterdesign
				a(href="./filter/instagram") instagram
				a(href="./filter/script") script
				a(href="./filter/work-in-kotoc") work in kotoc
				a(href="./filter/my-Links") my Links

			h1.logo Disonyando

			.category
				.title illustrARTion
				.desc art, illustrations, sculpt, concept

		.content
			#content_container
				include _post
				include _post
				include _post
				include _post
				include _post
				include _post
				include _post
				include _post
				include _post
				include _post